    #map {
  		width: 960px;
  		height: 500px;
	}
    
    .leaflet-clickable {
    cursor: crosshair !important;
    }
    .leaflet-container {
    cursor: crosshair !important;
    }

    .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    }
    .info h4 {
    margin: 0 0 5px;
    color: #777;
    }
    .legend {
    line-height: 18px;
    color: #555;
    }
    .legend i {
    width: 36px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
    }
    .count {
    padding: 6px 8px;
    font: 14px/16px monospace;
    background: white;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    }
    
    .operations {
    font: 14px/16px Arial, Helvetica, sans-serif;
    }
    
    .highlighted-operation 
    {
        color: mediumvioletred;
    }
    
    td {
    padding: 2px 8px;
    }

/* a less generous version of the Cayman style header */
.slimmer-page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957); }
  @media screen and (min-width: 64em) {
    .slimmer-page-header {
      padding: 3rem 4rem; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .slimmer-page-header {
      padding: 2rem 3rem; } }
  @media screen and (max-width: 42em) {
    .slimmer-page-header {
      padding: 2rem 1rem; } }

